<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<center>
    <table width="800" style="font-family: sans-serif; color: #222222;border: 1px solid #ccc;padding: 15px 5px;">
        <tbody>
        <tr style="vertical-align: top;">
            <td width="540" style="padding: 0 15px;"><img
                    src="https://s3-ap-southeast-1.amazonaws.com/pankadu-lk/global/email/logo.png" height="50"/></td>
            <td style="text-align: right;font-size: 12px;font-weight: bold;padding: 0 15px;">$systemDate</td>
        </tr>
        <tr style="vertical-align: top;">
            <td style="padding: 0 15px;">
                <h5 style="text-transform: uppercase;font-weight: bold;font-size: 18px;margin-bottom: 0;margin-top: 10px;">
                    Welcome $firstName!</h5>
                <p style="margin-top: 10px;font-size: 14px;">Please click this link to reset your password.
                </p>
                <p>
                    <a href="$url?token=$token&loginName=$loginName&type=$type">Rest Password</a>
                </p>
            </td>
            <td style="padding: 0 15px;border-left: 1px dashed #bbb;">
                <h5 style="margin: 5px 0 0 0;font-size: 24px;font-weight: normal;">Forgot Password Acknowledgement</h5>
                <p style="font-size: 14px;">
                    <b>Any queries?</b>
                    <br><br>
                    Reach out to us via:<br>
                    <b>Call :</b> <span style="white-space: nowrap">$branch.contactPersonTelephone</span>/ <span
                        style="white-space: nowrap">$branch.contactPersonMobile</span><br>
                    <b>Email :</b> $branch.contactPersonEmail
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 15px;vertical-align: top;">
                <h6 style="font-size: 15px;margin-top: 5px;margin-bottom: 0;text-transform: uppercase;">$branch.name</h6>
                <p style="font-size: 14px;margin-top: 5px;">
                    $branch.address1<br>
                    $branch.address2 $branch.city<br>
                    Sri Lanka<br>
                    T: <span style="white-space: nowrap">$branch.telephone</span> / <span
                        style="white-space: nowrap">$branch.telephone2</span>
                </p>
            </td>
            <td style="padding: 0 15px;vertical-align: top;">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;font-size: 16px;padding: 0 15px 5px 15px;">Thank You, Visit Us
                Again
            </td>
        </tr>
        </tbody>
    </table>
</center>

</body>
</html>